.checkoutContainer{
	display: inline-block;
	padding: 5px;
	width: 1500px;
	background-color: #E4E4E4;
	margin-left: 200px;
	box-shadow: 2px 3px 2px 2px #333333;
	font-family: 'Verdana';
}

.Footer{
	position: relative;
	margin-top: 85px;
	bottom: 0;
}
.bottomHalfCheckout{
	width: 100%;
	height: 500px;
	float: left;
}

.Empty{
	float: left;
	margin-top: 100px;;
}

#checkoutlbl{
	margin-top: 2%;
	font-size: 25pt;
	float: left;
}

#daylbl{
	font-weight: bold;
	font-size: 16pt;
	margin-left: 4.5%;
	margin-top: 3%;
	width: 100%;
	float: left;
}

.blackBar{
	width: 60%;
	float: left;
	height: 2px;
	margin-top: 0.4%; 
	padding-left: 2%;
	margin-left: 4%;
	background-color: #000000;
}

#TotalAmount{
	font-size: 18pt;
}

#TotalFoodAmount{
	font-size: 18pt;
}

.bottomBar{
	width: 92%;
	float: left;
	height: 2px; 
	margin-left: 4%; 
	padding-left: 2%;
	background-color: #000000;
}

#totallbl{
	font-size: 18pt;
	margin-left: 2%;
}

#totalFoodlbl{
	font-size: 15pt;
	margin-left: 2%;
}

.checkoutControls{
	width: 750px;
	height: 220px;
	margin-right: 4%;
	float: right;

}

.tickets{
	width: 1375px;
	margin-left: 4%;
	float: left;
}

.selectlbl{
	font-weight: bold;
	font-size: 16pt;
	width: 100%;
	float: left;
	margin-bottom: 4%;
}

.selectlblextra{
	margin-bottom: 8%;
}

.selectlblextra2{
	margin-top: 8%;
}

.dropDown2{
	float: right;
	width: 40%;
	height: 30px;
	font-weight: bold;
	margin-bottom: 7%;
}

.lbltxt{
	float: right;
	height: 30px;
	width: 100%;
	font-weight: bold;
	margin-bottom: 2%;
	font-size: 12pt;
	padding-left: 10px;
}

.input{
	margin-top: 2%;
	margin-right: 5%;
	float: right;
}

.extraNotestxt{
	width: 90%;
	height: 25%;
	margin-left: 5%;
}

.ticket{
	margin-top: 1%;
	max-width: 100%;
	height: 50px;
	margin-left: 2%;
}

.ticketText{
	background-color: #FFFFFF;
	border-style: solid;
	float: left;
	padding: 0.5%;
	margin-bottom: 0;
	padding-left: 2%;
	border-width: 1px;
	border-color: #000000;
	border-radius: 20px 20px 20px 20px;
}

.amountTickets{
	margin-top: 0.5%;
	float: left;
	font-weight: bold;
	margin-right: 2%;
}

h1{
	font-weight: bold;
	font-size: 47pt;
	padding-left: 2%;
	float: left;
}

h2{
	font-weight: bold;
	font-size: 35pt;
	padding-left: 3%;
	float: left;
}

h4{
	font-weight: bold;
	font-family: 'Heebo', sans-serif;
}

.proceedToCheckoutBTN{
	width: 350px;
	padding: 12px 25px;
	font-size: 25px;
	font-weight: black;
	text-align: center;
	cursor: pointer;
	outline: none;
	background-color: #c10326;
	border: none;
	border-radius: 6px;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	box-shadow: 2px 2px 2px 2px #333333;
}


.proceedToCheckoutBTN:hover{
	background-color: #990000;
}


.checkoutBTN{
	margin-left: 5%;
	margin-top: 3%;
	width: 90%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.removeCheckoutItem{
	margin-top: 0.4%;
	border-radius: 50%;
	margin-left: 1%;
	color: #ff0000;
	font-weight: bold;
	font-style: black;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
}
.removeCheckoutItem:hover{
	background-color: #bfbfbf;
}

.extraInfoP {
	padding-top: 7px;
	padding-left: 2px;
	float: left;
	font-style: italic;
}

#reservationFee {
	margin-left: 5%;
	margin-top: 2%;
	font-size: 12px;
}
