 /* unvisited link */
a:link {
  color: black;
   text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
   text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
   text-decoration: none;
}

/* selected link */
a:active {
  color: black;
   text-decoration: none;
} 

.Link:hover{
	color: black;
   text-decoration: none;
}

.RedBar{
	width: 100%;
	height: 20px;
	background-color: #DD042B;
	margin-bottom: 4px;
}

.Logo{
	text-align: left;
	width: 500px;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 80px;
}

.HomepageImages{
	height: 685px;
}

.HomepageImage{
	margin-right: -240px;
	width: 500px;
	height: 680px;
	clip-path: polygon(42% 0%, 92% 0%, 55% 100%, 5% 100%);
}

.Imagecontainer {
	position: relative;
	float: left;
	margin-right: -240px;
	width: 500px;
	height: 680px;
	clip-path: polygon(42% 0%, 92% 0%, 55% 100%, 5% 100%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
  cursor: pointer;
}

.Imagecontainer:hover .overlay {
  opacity: 0.75;
}

.imageText {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.rotate {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.MediaIcons{
	float: right;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	margin-top: 7.5px;
}

.Footer{
	margin-top: 10px;
	margin-bottom: 0;
	border: solid 1px;
	height: 60px;
	background-color: #FFFFFF;
	bottom: 1px;
	float: left;
	position: absolute;
	width: 100%;
}

#DesignedBy{
	margin-top: 6px;
	font-size: 20px;
	margin-bottom: 0;
	text-align: center;
}

#NavBar{
	margin-left: 30%;
	height: 104px;
	width: 1230px;
}

#NavBarBorder{
	background-image: url("../Images/Nav/NavImage.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 111px;
	width: 1750px;
	margin-top: 20px;
	margin-left: 5%;
	margin-bottom: 13px;
}

.NavBarImg{
	margin-left: 50px;
	margin-top: 10px;
	height: 80px;
	float: left
}

.NavLinks{
	height: 90px;
	margin-top: 5px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
	float: left;
	width: 10%;

}
.ActiveWrapper{
	filter: drop-shadow(-3px 6px 4px rgba(50, 50, 0, 0.5));
}

.Active{
	height: 65px;
	margin-top: 18px;
	font-weight: bold;
	padding-top: 14px;
	font-size: 30px;
	margin-left: 20px;
	width: 8.8%;

	color: white !important;
	background-color: #c10326;
	float: left;
	clip-path: polygon(12% 0%, 100% 0%, 86% 100%, 0% 100%);


}

.NavText{
	text-align: center;
	font-size: 	25px;
	margin-top: 8px;
}

.NavActive{
	text-align: center;
	font-size: 	25px;
	color: white !important;
}

.NavText:hover{
	font-size: 	30px;
	color: #DD042B !important;
}

.NavActive:hover{
	font-size: 	30px;
	color: white !important;
}

.Languages{
	margin-left: 90px;
	margin-top: 23px;
	float: left;
	height: 90px;
}
.LanguagesImages{
	float: left;
	width: 100px;
	height: 60px;
	margin-left: 5px;
}

.ActiveLanguage{
	border: solid 4px;
}

.ShoppingCart{
	background-image: url("../Images/Nav/ShoppingCart.png");
	background-size: cover;
	float: left;
	margin-top: 20px;
	margin-left: 60px;
	width: 70px;
	height: 60px;
}

.ShoppingCart:hover{
	background-image: url("../Images/Nav/ShoppingCartRed.png");
}

.shopcartItems{
	clip-path: circle(50% at 50% 50%);
	background-color: #FF9933;
	width: 25px;
	height: 25px;
	float: right;
	text-align: center;
	font-weight: bold;
	color:white;
}

.right{
	float: right;
	padding-right: 4%;
}

.contentContainer{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.footerlink{
	color: #DD042B;
	text-decoration: underline;
	margin: 10px;
	float: left;
	margin-top: 17px;
}

#footertax{
	font-size: 12px;
	text-align: center;
	font-style: italic;
	height: 8px;
}