.RedBar{
	width: 100%;
	height: 20px;
	background-color: #DD042B;
	margin-bottom: 5px;
}

.Logo{
	text-align: right;
	width: 550px;
	margin-left: 50px;
	margin-top: 50px;
}

.HomepageImages{
	height: 700px;
}

.HomepageImage{
	margin-right: -240px;
	width: 500px;
	clip-path: polygon(42% 0%, 92% 0%, 55% 100%, 5% 100%);
}

.HomepageImage:hover{
	margin-right: -240px;
	width: 500px;
	opacity: 50%;
}

.rotate {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.MediaIcons{
	float: right;
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.Footer{
	margin-top: 10px;
	border: solid 1px;
	height: 45px;
}

#DesignedBy{
	margin-top: 6px;
	margin-left: 30%;
	font-size: 20px;
}

#NavBar{
	margin-left: 30%;
}

#NavBarBorder{
	background-image: url("Images/NavImage.png");
	background-repeat: no-repeat;
	height: 104px;
	width: 94%;
	margin-top: 20px;
	margin-left: 6%;
	margin-bottom: 10px;
}

.NavBarImg{
	margin-left: 50px;
	margin-top: 10px;
	height: 80px;
	float: left
}

.NavLinks{
	height: 100%;
	margin-top: 5px;
	font-weight: bold;
	padding: 20px;
	float: left;
	font-size: 30px;
	margin-left: 40px;

}

.Active{
	height: 100%;
	margin-top: 5px;
	font-weight: bold;
	padding: 20px;
	font-size: 30px;
	margin-left: 40px;
	
	width: 200px;
	text-align: center;
	color: white;
	background-color: #DD042B;
	float: left;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}

.Active:hover{
	color: white;
	background-color: #DD042B;
	height: 100%;
	font-weight: bold;
	padding: 20px;
	float: left;
	font-size: 35px;
	margin-left: 40px;

}

.NavLinks:hover{
	color: #DD042B;
	font-weight: bold;
	height: 100%;
	padding: 20px;
	float: left;
	font-size: 35px;
	margin-left: 40px;
}